<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        <a class="site-title" href="{{ '/' | relative_url }}">
          Christel Astrup Madsen
          <span class="site-subtitle">Graduate of Architecture</span>
        </a>
        <ul class="visible-links">
          <li class="masthead__menu-item">
            <a href="/">PORTFOLIO</a>
          </li>
          <li class="masthead__menu-item">
            <a href="/about-cv">ABOUT + CV</a>
          </li>
          <li class="mobile-only masthead__menu-item">
            <a href="/contact">CONTACT</a>
          </li>
        </ul>
        <button class="greedy-nav__toggle hidden" type="button">
          <span class="visually-hidden">{{ site.data.ui-text[site.locale].menu_label | default: "Toggle menu" }}</span>
          <div class="navicon"></div>
        </button>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>